:root {
  --size: 390;

  @include media('>=tablet'){
    --size: 1500
  }
}

html{
  font-size: clamp(1px, 12px, 10*100vw/var(--size));
}

body{
  font-size: 1.8rem;
  min-height: 100vh;
  width: 100%;
}


#app{
  width: 100%;
  height: 100%;
}


.container{
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
