%text-link {
  font-size: 1.8rem;
  font-weight: 500;
}

%text-1 {
  font-size: 1rem;
  font-weight: 400;
}

%title-1{
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.2rem;
}


.text-copy-1{
  @extend %text-1;

  @include media('>=tablet'){
    font-size: 1.6rem;
    font-weight: 400;
  }
}
