$hamburger_width: 3rem;


// colors
$color-black: #000;
$color-red: #E50914;
$color-bg: white;

//border
$radius-1: .5rem;
$radius-2: 1rem;

// transition
$transition-default: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
