header{
  width: 100%;
  height: 10rem;
  flex: 0 0 auto;

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    nav{
      display: none;
    }
  }

}

@include media('>=tablet'){
  header{

    .header__wrapper{

      nav{
        @include flex-center;
        flex: 1 0 auto;

        ul{
          @include flex-center;
          flex: 1 0 auto;

          li:not(:last-child){
            margin-right: 2rem;
          }
        }
      }
    }
  }

  ul{
    li{
      @include link;
    }
  }

}
